@using BlazeRing.Client.Models;
@using BlazeRing.Shared;
@using WalletConnectSharp.Core.Models.Pairing;
@using WalletConnectSharp.Sign.Models;
@using WalletConnectSharp.Sign.Models.Engine;
@using WalletConnectSharp.Sign;
@using QRCoder;
@using WalletConnectSharp.Storage;
@inject JsService JsService
@inject HttpClient Http

@if (string.IsNullOrEmpty(accountAddress))
{
    <button type="button" class="btn btn-primary" @onclick="Connect">@connectStatus</button>
    @if (!string.IsNullOrEmpty(base64Image))
    {
        <img src="@base64Image" width="256" height="256" />
        <p>Scan this QR Code using your Loopring Wallet</p>
        <p>@connectData.Uri</p>
    }
}
else
{
    if (apiKey == null)
    {
        <button type="button" class="btn btn-primary" @onclick="Unlock">@unlockStatus</button>
    }
    else if (apiKey != null)
    {
        <button type ="button" class="btn btn-primary" @onclick="Disconnect">Disconnect</button>
        <p>Your api key is @apiKey.apiKey</p>
    }
}

@code {
    private string? accountAddress;
    private AccountInformation? accountInformation;
    private ApiKey? apiKey;
    private string? base64Image;

    private string? connectStatus = "Connect with WalletConnect";
    private string? unlockStatus = "Unlock";

    private WalletConnectSignClient? dappClient;
    private ConnectedData? connectData;
    private SessionStruct sessionData;


    private async Task Connect()
    {
        try
        {

            var dappOptions = new SignClientOptions()
                {
                    ProjectId = "0a0b4427350974a116cebee8c20bb61b",
                    Metadata = new Metadata()
                    {
                        Description = "An Example Project using BlazeRing",
                        Icons = new[] { "https://walletconnect.com/meta/favicon.ico" },
                        Name = "BlazeRing",
                        Url = "https://blazering.xyz"
                    },
                    Storage = new InMemoryStorage()
                };

            var dappConnectOptions = new ConnectOptions()
                {
                    RequiredNamespaces = new RequiredNamespaces()
                    {
                        {
                            "eip155", new RequiredNamespace()
                            {
                                Methods = new[]
                                {
                                    "eth_sendTransaction",
                                    "eth_signTransaction",
                                    "eth_sign",
                                    "personal_sign",
                                    "eth_signTypedData"
                                },
                                Chains = new[]
                                {
                                    "eip155:1"
                                },
                                Events = new[]
                                {
                                    "chainChanged",
                                    "accountsChanged",
                                }
                            }
                        }
                    }
                };

            connectStatus = "Connecting...";
            dappClient = await WalletConnectSignClient.Init(dappOptions);
            connectData = await dappClient.Connect(dappConnectOptions);
            QRCodeGenerator qrGenerator = new QRCodeGenerator();
            QRCodeData qrCodeData = qrGenerator.CreateQrCode(connectData.Uri, QRCodeGenerator.ECCLevel.Q);
            PngByteQRCode qrCode = new PngByteQRCode(qrCodeData);
            byte[] qrCodeAsPngByteArr = qrCode.GetGraphic(20);

            var base64QRCode = Convert.ToBase64String(qrCodeAsPngByteArr);
            base64Image = $"data:image/png;base64,{base64QRCode}";
            StateHasChanged();
            sessionData = await connectData.Approval;
            var selectedNamespace = sessionData.Namespaces["eip155"];
            if (selectedNamespace != null && selectedNamespace.Accounts.Length > 0)
            {
                var currentSession = selectedNamespace.Accounts[0];
                var parameters = currentSession.Split(':');
                accountAddress = parameters[2];
            }

            if (!string.IsNullOrEmpty(accountAddress))
            {
                var accountInformationEndpoint = $"{BlazeRingConstants.ApiUrl}/{BlazeRingConstants.GetAccountInformationApiEndpoint}?owner={accountAddress}";
                accountInformation = await Http.GetFromJsonAsync<AccountInformation>(accountInformationEndpoint);
                base64Image = null;
                connectStatus = "Connected...";
            }
        }
        catch (Exception ex)
        {
            base64Image = null;
            connectStatus = "Rejected...try again";
            Console.WriteLine($"Error: {ex.Message}");
        }
        StateHasChanged();
    }

    private async Task Unlock()
    {
        try
        {
            unlockStatus = "Waiting for signature...";
            StateHasChanged();
            if(string.IsNullOrEmpty(accountInformation.keySeed))
            {
                accountInformation.keySeed = $"Sign this message to access Loopring Exchange: 0x0BABA1Ad5bE3a5C0a66E7ac838a129Bf948f1eA4 with key nonce: {accountInformation.keyNonce - 1}";
            }
            var request = new WalletConnectPersonalSignRequest(accountInformation.keySeed,accountAddress);
            var response = await dappClient.Request<WalletConnectPersonalSignRequest, WalletConnectPersonalSignRequestResponse>(sessionData.Topic, request);
            unlockStatus = "Unlocking...";
            StateHasChanged();
            var xApiSig = await BlazeRingHelper.GetApiKeyEDDSASig(response.result, accountInformation.owner, accountInformation.accountId);
            unlockStatus = "Requesting API Key...";
            StateHasChanged();
            Http.DefaultRequestHeaders.Remove("x-api-sig"); // remove x-api-sig if it exists already
            Http.DefaultRequestHeaders.Add("x-api-sig", xApiSig);
            var getApiKeyEndpoint = $"{BlazeRingConstants.ApiUrl}/{BlazeRingConstants.GetApiKeyEndpoint}?accountId={accountInformation.accountId}";
            apiKey = await Http.GetFromJsonAsync<ApiKey>(getApiKeyEndpoint);
        }
        catch (Exception ex)
        {
            unlockStatus = "Rejected signing...Try Again!";
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void Disconnect()
    {
        accountAddress = null;
        accountInformation = null;
        apiKey = null;
        unlockStatus = "Unlock";
        StateHasChanged();
    }

}